
.containerAbout{
    width:100%;
    height:90.71vh;
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    position:absolute;
}
.columnAboutL{
    float: left;
    width: 50%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

.Title{
    color: #fff;
    font-size: 80px;
    -webkit-text-stroke: 3px #7f00b2; 
}

.columnAboutR{
    float: left;
    padding-top: 7%;
    width: 50%;
    min-height: 100%;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .CardAbout{
      width: 50%;
      /* height: 20em; */
      justify-content: center;
      align-items: center;
      padding-bottom: 20px;
  }

  .CardAbout p{
      margin-top: 20px;
      margin: 20px 0 0 2px;
      font-weight: normal;
  }

  @media(max-width: 600px) {
    .columnAboutL{
      width: 100%;
      min-height: 0%;
    }

    .columnAboutR{
        width: 100%;
        min-height: 0%;
        padding-top: 0;
      }
  
}