.containerAbout{
    height:100%;
    padding-top: 100px;
    position: absolute;
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    align-items: center;
    justify-content: center;
    display:flex;
    
}

.columnAboutL{
    float: left;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

.Title{
    color: #fff;
    font-size: 80px;
    -webkit-text-stroke: 3px #7f00b2; 
}

.columnAboutR{
    float: left;
    height: 80%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .CardAbout{
    width: 70%;
    justify-content: center;
    align-items: center;     
  }

  .CardAbout p{
      margin-top: 20px;
      margin: 0 0 0 2px;
      font-weight: normal;
      color: black;
  }

  .buttonMySkills{
    margin-bottom: 20px;
  }

  @media(max-width: 600px) {

    .containerAbout{
      height: unset;
      display: unset;
    }
    
    .columnAboutL{
      width: 100%;
      height: unset;
    }

    .columnAboutR{
      width: 100%;
      padding-top: 0PX;
      margin-top: 0PX;
      justify-content: unset;
      height: unset;
  
    }

    .CardAbout{
      margin-top: 0;
      margin: 0 0 0 0;
    }

    p{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin: 0;
    }
}