
html body{
      height: 100%;
      background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );}


/* .Background{
  background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
  position:flex;
  min-height: 100VH;
} */

.containerAbout{
    width:100%;
    min-height:100vh;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    position: fixed;
}


.columnAboutL{
    float: left;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }

.Title{
    color: #fff;
    font-size: 80px;
    -webkit-text-stroke: 3px #7f00b2; 
}

.columnAboutR{
    float: left;
    min-height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .CardAbout{
      width: 70%;
      /* height: 20em; */
      justify-content: center;
      align-items: center;
      
  }

  .CardAbout p{
      margin-top: 20px;
      margin: 0 0 0 2px;
      font-weight: normal;
      color: black;
  }


  /* @media(max-width: 960px) {
    .containerAbout{
      top: 90px;
      height: 100%;
      padding-top: 0PX;
    }

    .columnAboutR{
      padding-top: 0;
      justify-content: unset;
    }

    .columnAboutL{
      padding-top: 20px;
      justify-content: unset;
    }
  } */


  @media(max-width: 600px) {

  

    .containerAbout{
      top: 90px;
      min-height: 0;
      position: absolute;
      /* overflow-x: hidden; */
      /* overflow-y:hidden; */
      /* overflow-x:scroll; */
    }
    
    .columnAboutL{
      width: 100%;
      /* padding-top: 120px; */
      height: 40%;
      display: flex;
    }

    .columnAboutR{
      width: 100%;
      padding-top: 0PX;
      min-height: 0;
    }

    .CardAbout{
      margin-top: 0;
      margin: 0 0 0 0;
    }

    p{
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      margin: 0;
    }

  
}