.container{
  width:100%;
  min-height: 80%;
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  background-color: #FFF;
  position:absolute;
  /* top: 0;
  left: 0; 
  right: 0;
  bottom: 0; */
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  display:flex;
}

.column{
  float: left;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
}

.circle{
  background:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Img-Slider{
    height: 120%;
}

.top{
  height: 50%;
  width: 100%;
  display: flex;
  
}

.bottom{
  height: 90px;
  width: 100%;
  display: flex;
  padding-left: 20PX;
}

@media(max-width: 1250px) {

  .top{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;  
  }

  .column {
    width: 100%;
    min-height: 0%;

    align-items: center;
    justify-content: center;
    padding-top: unset;
    
  }

  .container{
    align-items: center;
    justify-content: center;
    display:inline-block;
  }

  .circle{
    margin: 3% 0 3% 0;
    width: 350px;
    height: 350px;
  }

  .bottom{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

 
}